:root{
    --bg-color:#012d63;
   --white-color:#fff;
   --hover-color:#c7c7c7;
   --btn-color:#8e32c6;
}

.container{
    width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
    outline: pink solid ;

}

.header{
    
 font-family: 'Roboto',sans-serif;
 font-weight: 400;
 font-size: 24px;
 background-color: var(--bg-color);
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
li{
   list-style: none;
}
.logo {
    
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-list{
     display: flex;
     gap: 30px;
     margin-right: 73px;
 margin-left: 152px;
   
}
.header-wrap{
    display: flex;
    align-items: center;
   }
.nav-item {
    
}
.nav-link:hover,
.nav-link:focus{
    color: var(--white-color);
}
.nav-link {
    color: var(--hover-color);
}
.nav-list {
    display: flex;
    gap: 30px;
}
.second-item {
}
.main {

    background-image: url(./images/sandali.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color);
}

.firt-setion {
    color: var(--white-color);
  
}
.image{
 
  

}
.cr {
    font-family: "PT serif",sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.32px;
    
   
}
.title {
    font-family: "Playfair disaplay",sans-serif;
    font-weight: 400;
    font-size:144px ;
    line-height: 1.33px;
}
.pre-title {
    font-family: "Playfair disaplay",sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.33px;
}
.text {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 18px;
   
}
.button{
    padding: 20px 61px;
    border-radius: 10px ;
    border: none;
    background-color: var(--btn-color);
    color: var(--white-color);
    margin-top: 41px;
    margin-bottom: 183px;
}



.nav-list{
    
}
.second-section{
  
    padding-top: 130px;
   background-image: url(./images/gradient.png);
   background-repeat: no-repeat;
   background-position: center;
   background-color: var(--bg-color);
    
 
}
.option-list{
   
 
       display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid var(--btn-color);
    
}

.option-item{
    
   font-family: "Playfair dasplay",sans-serif;
   font-weight: 400;
   font-size: 36px;
   color: var(--white-color);
   line-height: 1.33px;
   
   
}
.option-item::after{
   
    content: "";
   background-image: url(./images/stars.png);
   background-repeat: no-repeat;
   background-position: left;
   background-size: 240px;

}
.option-item:nth-child(2)::before{
    content: "";
   background-image: url(./images/colors.png);
   background-repeat: no-repeat;
   background-position:center;

}


