.firt-section {
  color:$white-color;
  background-image: url(/images/sandali.png);
  background-repeat: no-repeat;
  background-position: center;
}

.cr {
  font-family: "PT serif", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.32;
}
.title {
  font-family: "Playfair display", sans-serif;
  font-weight: 400;
  font-size: 144px;
  line-height: 1.33;
}
.pre-title {
  font-family: "Playfair display", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.33;
}
.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.button {
  padding: 20px 61px;
  border-radius: 10px;
  border: none;
  background-color:$btn-color;
  color: $white-color;
  margin-top: 41px;
  margin-bottom: 202px;
  font-size: 24px;
}
