h1,h2,h3,h4,h5,p,ul,li,button,image,form,input,label,ul,li{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    transition: color 0.2s ease;
}
ul{
    list-style: none;
}
li{
   list-style: none;
}